*::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit; 

}
  
  html {
    font-size: 62.5%;
    box-sizing: border-box;

}
  
  body {
    // font-family: sans-serif;
    font-weight: 400;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.4rem;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #bfe2fd;
  
  }


  
  .container {
    background-color: white;
    width: 85rem;
    min-height: 50rem;
    display: grid;
    grid-template-columns: repeat(3, [col-start] 1fr [col-end] ); 
    
    border-radius: 1rem;
    overflow: hidden;
    padding: 1.3rem;
    
    box-shadow: 0 1.5rem 3rem rgba(#000, .6);
  
  }

  
  .steps {
    overflow: hidden;
    grid-column: col-start 1 / col-end 1; 
    border-radius: 5px;
    background-image: url("/bg-sidebar-desktop.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 3rem;
    display: grid;
    justify-content: start;
    align-content:start ;

    
  
  }
  
  

  .step__content{

    display: none;

    &--active{
    grid-column: col-start 2 / -1;
    // grid-row: 1 / -1;
    padding: 5rem 8rem 2rem 4rem;
    display: flex;
    flex-direction: column;


    
    }


    &--heading{

        font-size: 3.5rem;
        color: hsl(213, 96%, 18%);
        display: block;
        margin: 0;


    }

    &--sub-heading{

        font-size: 1.5rem;
        color: hsl(231, 11%, 63%);
        margin-top: 1.5rem;

    }

}