$color-black: #000;
$color-white: #fff;
$color-grey-1: hsl(229, 24%, 87%);
$color-grey-2: hsl(231, 11%, 63%);

$color-blue-dark:hsl(213, 96%, 18%);

$color-light-blue:  hsl(217, 100%, 97%);

$color-blue-light:  hsl(206, 94%, 87%);

$color-blue: hsl(243, 100%, 62%);

$color-blue-light-1 :  hsl(228, 100%, 84%);